body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightsalmon;
    padding: 10px 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: #555; /* Change to the desired color when scrolled */
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #1196e8;
}

section {
    height: 100vh;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    background-color: #1196e8;
}
